.history/
build/
generated/
firmware/test/obj/
firmware/test/run_tests
firmware/evmu/test/test_cpu
firmware/evmu/test/test_cpu_san
*.o
*.gb
*.gbc
*.lst
*.map
*.rel
*.ihx
*.sym
*.noi
*.rst
*.lk
*.cdb
*.adb
